* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ed4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  height: 100vh;
  background: #3d7eaa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffe47a,
    #3d7eaa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffe47a,
    #3d7eaa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* sign up */

.card-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* max-width: 800px; */
  width: 500px;
  height: 600px;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Noto Sans";
  color: #333;
  padding: 40px;
  box-shadow: 0px 10px 20px 0 #3d7eaa5e;
  line-height: 3rem;
}

.card-container > h4 {
  color: #777;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.input-container {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  width: 45%;
  margin-top: 20px;
}

.input-container > input {
  border: none;
  outline-style: none;
  height: 30px;
  font-size: 1rem;
  border-bottom: solid 1.5px rgba(153, 153, 153, 0.842);
}

a {
  text-decoration: none;
}

.full-width-input {
  width: 100%;
}

.input-container:hover {
  color: #b0dab9;
  font-weight: 700;
}

.input-container > input:hover {
  border-bottom: solid 2px #b0dab9;
}

button {
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  border-style: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: #b0dab9;
}
