/* Header Section */
body {
  background-color: #f0ece2;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
  color: #404040;
}
#top {
  background-color: #84a9ac65;
  padding: 10px;
  color: #3b6978;
}
#top h1,
#top p {
  margin: 5px;
}
/* Menu Section */
.wrapper {
  position: relative;
}
#menubar {
  float: left;
  width: 100px;
  margin-top: 5px;
  /* border: solid 1px; */
}
.menuitem {
  background: #84a9ac65;
  margin: 5px;
  padding: 5px;
  list-style: none;
  width: 150px;
  margin-left: -40px;
}
.menuitem:hover {
  background-color: wheat;
}
.menuitem a {
  color: #555;
  text-decoration: none;
}
.menuitem a:hover {
  color: #3b6978;
  font-weight: 700;
}
/* main section */
#main {
  margin-left: 165px;
  margin-right: 205px;
  padding: 5px;
  /* border: solid 1px; */
}
#main h1 {
  margin-top: 5px;
}
#main a,
#ann a {
  color: #3b6978;
  font-weight: 700;
  text-decoration: none;
}
#main a:hover,
#ann a:hover {
  color: #404040;
  text-decoration: underline;
  background: wheat;
}
#img-style {
  position: absolute;
  top: 250px;
  max-width: 200px;
}
/* Announcement Section */
#ann {
  background-color: #84a9ac65;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  max-width: 200px;
  margin-top: 15px;
}
#bottom {
  background-color: #84a9ac65;
  text-align: center;
  position: fixed;
  margin: 20px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
#bottom p {
  font-size: 0.8rem;
}
#category {
  display: flex;
  /* border: solid 1px; */
  justify-content: space-around;
  font-size: 0.7rem;
  margin-top: 10px;
}
#category .cellitem:hover {
  color: white;
  text-decoration: underline;
  background: #de59345e;
}

.cellitem {
  color: #3b6978;
}

.backward-image {
  position: fixed;
  z-index: 1;
  top: 270px;
}
.forward-image {
  position: fixed;
  z-index: 2;
  top: 280px;
  left: 250px;
}
