* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ed4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffedbc,
    #ed4264
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Noto Sans", sans-serif;
  color: #333;
}

body {
  height: 100vh;
  background: #3d7eaa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffe47a,
    #3d7eaa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffe47a,
    #3d7eaa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* sign up */

.card-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  max-width: 400px;
  width: 90%;
  height: auto;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 10px 20px 0 #3d7eaa5e;
  line-height: 2rem;
  font-size: 0.9rem;
}

.card-container > h2 {
  font-size: 1.4rem;
}

.card-container > h4 {
  color: #777;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  width: 45%;
  margin-top: 15px;
}

.input-container > input {
  border: none;
  outline-style: none;
  height: 25px;
  font-size: 0.8rem;
  border-bottom: solid 1.2px rgba(153, 153, 153, 0.842);
  text-indent: 10px;
}

a,
span a {
  text-decoration: none;
  color: #333;
}

span a:hover {
  color: #b0dab9;
  font-weight: 700;
}

.full-width-input {
  width: 100%;
}

.label-inline {
  display: flex;
  align-items: center;
}

.label-inline span,
.label-inline span:hover {
  font-size: 0.8rem;
  color: #ed4264;
  font-weight: 400;
}

.input-container:hover {
  color: #b0dab9;
  font-weight: 700;
}

.input-container > input:hover {
  border-bottom: solid 2px #b0dab9;
}

button {
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  border-style: none;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  background-color: #b0dab9;
}

button:hover {
  background-color: #6decb9;
}

.warning-texts {
  color: #ed4264;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 10px;
  margin-left: 20px;
}

/* login page */

.warning-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100vw;
  height: 40px;
  font-size: 0.8rem;
}

.forgot-password {
  font-weight: 400;
}

/* logout */

button a {
  color: #fff;
}

/* reset password */

.highlight {
  color: #ed4264;
  font-size: 0.8rem;
  font-weight: bold;
}
